
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  width: 960px;
  font-size: 14px;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
  fill-opacity: .9;
}

.bar:hover{
  fill: red;
}

.x.axis path {
  display: none;
}

label {
  position: absolute;
  top: 10px;
  right: 10px;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-size: 0.8em;
    font-family: "Merriweather", "Georgia", serif;
}

.layer {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#numpages_cont
  {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  background-color:#fff;
  padding: 0.1em;
  top:0;
  left:10px;
  }

#numpages{
  font-size: 130%;
  font-weight: bold;
}

#tooltip
  {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  border: 1px solid #aaa;
  background-color:#fff;
  /*opacity: 0.9;*/
  padding: 0.5em;
  width:23em;
  }

#tooltip > *{
  float: left;
}

img#closett{
  float: right;
  cursor: pointer;
}

#tt-img{
  margin-right: 0.5em;
}

#tt-text{
  width: 16em;

}

#tt-title{
  font-size: 120%;
  font-weight: bold;
}

#tt-author, #tt-ratings, #tt-pages{
  clear: left;
}

.col_text{
  float: left;
  margin-left: 2em;
}